---
export interface Props {
  title: string;
}

import NavMenu from "../components/NavMenu.astro";
import Github from "../icons/Github.astro";
import Instagram from "../icons/Instagram.astro";
import Linkedin from "../icons/Linkedin.astro";

const { title } = Astro.props;

const navLinks = [
  {
    name: "About Me",
    href: "#about",
  },
  {
    name: "Projects",
    href: "#projects",
  },
  {
    name: "Contact",
    href: "#contact",
  },
];

const socialLinks = [
  {
    name: "Github",
    href: "/",
    component: Github,
  },
  {
    name: "Linkedin",
    href: "/",
    component: Linkedin,
  },
  {
    name: "Instagram",
    href: "/",
    component: Instagram,
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <div class="navbar-container">
        <a class="logo" href="/"
          ><span class="logo-tag">{"<"}</span>RidhoKhalis<span class="logo-tag"
            >{"/>"}</span
          ></a
        >
        <div class="navlink-container">
          {
            navLinks.map((navLink, index) => (
              <a class="nav-link" href={navLink.href}>
                <span class="nav-link-index">{`0${index + 1}.`}</span>
                {navLink.name}
              </a>
            ))
          }
        </div>
        <NavMenu />
      </div>
    </nav>
    <slot />
    <div class="social-container">
      {
        socialLinks.map((socialLink) => (
          <a href={socialLink.href}>{<socialLink.component />}</a>
        ))
      }
      <div class="line"></div>
    </div>
    <div class="email-container">
      <a href="mailto:Ridhokhalis37@gmail.com" target="_blank"
        >Ridhokhalis37@gmail.com</a
      >
      <div class="line"></div>
    </div>
  </body>

  <style is:global lang="scss">
    @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&family=Poppins:wght@300;400;500;600&display=swap");
    :root {
      --navy-shadow: rgba(2, 12, 27, 0.7);
      --navy: #0b192f;
      --light-navy: #112240;
      --primary-color: #64ffda;
      --lightest-slate: #ccd6f6;
      --light-slate: #aab1c6;
      --slate: #8892b0;
      --dark-slate: #495670;
      --white: #fff;

      --mono: "Fira Code", monospace;
      --sans: "Poppins", system-ui, sans-serif;
    }
    * {
      margin: 0;
      padding: 0;
    }
    html {
      font-family: "Poppins", system-ui, sans-serif;
      background-color: var(--navy);
    }
    a {
      text-decoration: none;
    }
    .cta,
    button {
      width: fit-content;
      padding: 16px 24px;
      border: 1px solid var(--primary-color);
      background-color: transparent;
      color: var(--primary-color);
      border-radius: 4px;
      font-family: var(--mono);
      text-transform: capitalize;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: var(--primary-color);
        color: var(--navy);
      }
    }
    body.open {
      overflow: hidden;
    }
    section {
      height: fit-content;
      color: var(--slate);
      padding: 50px;

      .section-content {
        margin: auto;
        max-width: 1060px;
      }
    }
    nav {
      padding: 50px;
      position: absolute;
      top: 0;
      width: calc(100% - 100px);

      .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        max-width: 1440px;

        a {
          color: var(--white);
        }

        .logo {
          font-size: 24px;
          font-weight: 700;
          letter-spacing: 1px;
          color: var(--primary-color);
          font-family: var(--mono);

          @media screen and (max-width: 768px) {
            font-size: 20px;
          }

          .logo-tag {
            color: var(--white);
          }
        }

        .navlink-container {
          display: flex;
          gap: 24px;

          @media screen and (max-width: 768px) {
            visibility: hidden;
            transform: translateY(-100vh);
          }

          .nav-link {
            font-family: var(--mono);
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 1px;

            .nav-link-index {
              color: var(--primary-color);
            }
          }
        }

        .navlink-container.open {
          visibility: visible;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 36px;
          position: absolute;
          top: 0;
          right: 0;
          transform: translateY(0);
          background-color: var(--light-navy);
          box-shadow: 0 0 20px var(--navy-shadow);
          z-index: 10;
          height: 100vh;
          width: 50vw;
          transition: all 0.25s ease-in-out;

          .nav-link {
            text-align: center;
            font-size: 16px;

            .nav-link-index {
              display: block;
              color: var(--primary-color);
              margin-bottom: 8px;
            }
          }
        }
      }

      .navbar-container.open {
        filter: blur(5px);
      }
    }

    main.open {
      filter: blur(5px);
    }

    .social-container {
      position: fixed;
      left: 48px;
      bottom: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 20px;

      .social-icon {
        stroke: var(--lightest-slate);
        transition: all 0.3s ease-in-out;

        &:hover {
          stroke: var(--primary-color);
          transform: translateY(-8px);
        }
      }

      .line {
        width: 1px;
        height: 12vh;
        background-color: var(--lightest-slate);
        margin: auto;
        margin-top: 24px;
      }
    }

    .email-container {
      position: fixed;
      right: 48px;
      bottom: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 20px;

      a {
        font-family: var(--mono);
        color: var(--lightest-slate);
        transition: all 0.3s ease-in-out;
        writing-mode: vertical-rl;
        letter-spacing: 2px;
        font-size: 12px;

        &:hover {
          color: var(--primary-color);
          transform: translateY(-8px);
        }
      }

      .line {
        width: 1px;
        height: 12vh;
        background-color: var(--lightest-slate);
        margin: auto;
        margin-top: 24px;
      }
    }

    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--dark-slate);
      border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
      background: var(--navy);
    }

    .primary-mono {
      font-family: var(--mono);
      color: var(--primary-color);
      font-size: 16px;
      letter-spacing: 2px;
    }

    .link {
      font-family: var(--mono);
      color: var(--primary-color);
    }
  </style>
</html>
