---
import socialLinks from "../../public/data/socialLinks";
export interface Props {
  title: string;
}

import NavMenu from "../components/NavMenu.astro";

const { title } = Astro.props;

const navLinks = [
  {
    name: "About Me",
    href: "#about",
  },
  {
    name: "Projects",
    href: "#projects",
  },
  {
    name: "Contact",
    href: "#contact",
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="intro">
      <h1 class="intro-logo">
        <span class="logo-tag">{"<"}</span>RidhoKhalis<span class="logo-tag"
          >{"/>"}</span
        >
      </h1>
    </div>
    <div id="root">
      <nav>
        <div class="navbar-container">
          <a class="logo" href="/"
            ><span class="logo-tag">{"<"}</span>RidhoKhalis<span
              class="logo-tag">{"/>"}</span
            ></a
          >
          <div class="navlink-container">
            {
              navLinks.map((navLink, index) => (
                <a class="nav-link" href={navLink.href}>
                  <span class="nav-link-index">{`0${index + 1}.`}</span>
                  {navLink.name}
                </a>
              ))
            }
          </div>
          <NavMenu />
        </div>
      </nav>
      <slot />
      <div class="social-container">
        {
          socialLinks.map((socialLink) => (
            <a href={socialLink.href} target="_blank">
              {<socialLink.component />}
            </a>
          ))
        }
        <div class="line"></div>
      </div>
      <div class="email-container">
        <a href="mailto:Ridhokhalis37@gmail.com" target="_blank"
          >Ridhokhalis37@gmail.com</a
        >
        <div class="line"></div>
      </div>
    </div>
  </body>

  <style is:global lang="scss">
    @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&family=Poppins:wght@300;400;500;600&display=swap");
    :root {
      --navy-shadow: rgba(2, 12, 27, 0.7);
      --navy: #0b192f;
      --light-navy: #112240;
      --primary-color: #64ffda;
      --dark-primary-color: #0d1e33;
      --lightest-slate: #ccd6f6;
      --light-slate: #aab1c6;
      --slate: #8892b0;
      --dark-slate: #495670;
      --white: #fff;

      --mono: "Fira Code", monospace;
      --sans: "Poppins", system-ui, sans-serif;
    }

    * {
      margin: 0;
      padding: 0;
    }

    html {
      font-family: "Poppins", system-ui, sans-serif;
      scroll-behavior: smooth;
      background-color: var(--navy);
    }

    a {
      text-decoration: none;
    }

    p {
      @media screen and (max-width: 480px) {
        font-size: 14px;
      }
    }

    .cta,
    button {
      width: fit-content;
      padding: 16px 24px;
      border: 1px solid var(--primary-color);
      background-color: transparent;
      color: var(--primary-color);
      border-radius: 4px;
      font-family: var(--mono);
      text-transform: capitalize;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      @media screen and (max-width: 480px) {
        padding: 12px 16px;
        font-size: 14px;
      }

      &:hover {
        background-color: var(--primary-color);
        color: var(--navy);
      }
    }

    body {
      -webkit-font-smoothing: antialiased;
      overflow-x: hidden;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
    }

    body.loaded {
      height: 100%;
      width: 100%;
      overflow: auto;
    }

    body.open {
      overflow: hidden;
    }

    #root {
      opacity: 0;
    }

    #root.loaded {
      opacity: 1;
      transition: opacity 0.5s ease-out;
    }

    .intro {
      position: absolute;
      display: grid;
      place-items: center;
      height: 100vh;
      width: 100vw;
      background-color: var(--dark-navy);

      @keyframes typing {
        from {
          width: 0;
        }
      }

      @keyframes blink {
        50% {
          border-color: transparent;
        }
      }

      @keyframes hide {
        from {
          height: 1ch;
          background-color: white;
        }
        to {
          height: 0;
          width: 100%;
        }
      }

      .intro-logo {
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 1px;
        color: var(--primary-color);
        font-family: var(--mono);
        background-color: var(--dark-primary-color);

        animation: typing 2s steps(14), blink 0.5s step-end infinite alternate,
          hide 0.5s ease-out 3s;

        width: 15ch;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-family: monospace;

        @media screen and (max-width: 1024px) and (min-width: 481px) {
          font-size: 20px;
        }

        @media screen and (max-width: 480px) {
          font-size: 18px;
        }

        .logo-tag {
          color: var(--white);
        }
      }

      .intro-logo.loaded {
        display: none;
      }
    }

    section {
      height: fit-content;
      color: var(--slate);
      padding: 50px;

      @media screen and (max-width: 1024px) {
        padding: 50px 0;
      }

      .section-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 64px;
        height: 100%;
        margin: auto;
        max-width: 1024px;

        @media screen and (max-width: 480px) {
          padding: 24px 24px;
        }
      }
    }

    nav {
      padding: 24px 50px;
      position: fixed;
      z-index: 10;
      top: 0;
      width: calc(100% - 100px);
      background-color: var(--dark-primary-color);
      opacity: 0.9;
      transition: all 0.3s ease-in-out;

      @media screen and (max-width: 480px) {
        width: calc(100% - 48px);
        padding: 24px 24px;
      }

      .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        max-width: 1440px;

        a {
          color: var(--white);
        }

        .logo {
          font-size: 22px;
          font-weight: 700;
          letter-spacing: 1px;
          color: var(--primary-color);
          font-family: var(--mono);

          @media screen and (max-width: 1024px) and (min-width: 481px) {
            font-size: 20px;
          }

          @media screen and (max-width: 480px) {
            font-size: 18px;
          }

          .logo-tag {
            color: var(--white);
          }
        }

        .navlink-container {
          display: flex;
          gap: 24px;

          @media screen and (max-width: 1024px) {
            position: absolute;
            visibility: hidden;
            transform: translateY(-100vh);
          }

          .nav-link {
            font-family: var(--mono);
            font-size: 14px;
            letter-spacing: 1px;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: var(--primary-color);
            }

            .nav-link-index {
              color: var(--primary-color);
            }
          }
        }

        .navlink-container.open {
          visibility: visible;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 36px;
          position: absolute;
          top: 0;
          right: 0;
          transform: translateY(0);
          background-color: var(--light-navy);
          box-shadow: 0 0 20px var(--navy-shadow);
          z-index: 10;
          height: 100vh;
          width: 50vw;
          transition: all 0.25s ease-in-out;

          .nav-link {
            text-align: center;
            font-size: 16px;

            .nav-link-index {
              display: block;
              color: var(--primary-color);
              margin-bottom: 8px;
            }
          }
        }
      }

      .navbar-container.open {
        filter: blur(5px);
      }
    }

    nav.hidden {
      transform: translateY(-100%);
    }

    main.open {
      filter: blur(5px);
    }

    .social-container {
      position: fixed;
      left: 48px;
      bottom: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 20px;

      @media screen and (max-width: 1024px) {
        display: none;
      }

      .social-icon {
        stroke: var(--lightest-slate);
        transition: all 0.3s ease-in-out;

        &:hover {
          stroke: var(--primary-color);
          transform: translateY(-8px);
        }
      }

      .line {
        width: 1px;
        height: 12vh;
        background-color: var(--lightest-slate);
        margin: auto;
        margin-top: 24px;
      }
    }

    .email-container {
      position: fixed;
      right: 48px;
      bottom: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 20px;

      @media screen and (max-width: 1024px) {
        display: none;
      }

      a {
        font-family: var(--mono);
        color: var(--lightest-slate);
        transition: all 0.3s ease-in-out;
        writing-mode: vertical-rl;
        letter-spacing: 2px;
        font-size: 12px;

        &:hover {
          color: var(--primary-color);
          transform: translateY(-8px);
        }
      }

      .line {
        width: 1px;
        height: 12vh;
        background-color: var(--lightest-slate);
        margin: auto;
        margin-top: 24px;
      }
    }

    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--dark-slate);
      border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
      background: var(--navy);
    }

    .primary-mono {
      font-family: var(--mono);
      color: var(--primary-color);
      font-size: 16px;
      letter-spacing: 2px;
    }

    .link {
      font-family: var(--mono);
      color: var(--primary-color);
    }

    .hidden {
      opacity: 0;
      transform: translateX(-100%);
      transition: all 0.75s ease-in-out;
      filter: blur(5px);

      @media (prefers-reduced-motion) {
        transition: none;
      }
    }

    .show {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
    }
  </style>

  <script>
    let prevScrollPos = window.pageYOffset;

    window.addEventListener("scroll", () => {
      const nav = document.querySelector("nav") as HTMLElement;
      const scrollPos = window.pageYOffset;

      if (prevScrollPos > scrollPos) {
        nav.classList.remove("hidden");
      } else {
        nav.classList.add("hidden");
      }

      prevScrollPos = scrollPos;
    });

    const root = document.getElementById("root") as HTMLElement;
    const introLogo = document.querySelector(".intro-logo") as HTMLElement;
    const body = document.querySelector("body") as HTMLElement;

    document.addEventListener("DOMContentLoaded", function () {
      setTimeout(() => {
        introLogo.classList.add("loaded");
      }, 3300);
      setTimeout(() => {
        root.classList.add("loaded");
        body.classList.add("loaded");
      }, 4000);
    });

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("show");
        }
      });
    });

    const hiddenElements = document.querySelectorAll(".hidden");
    hiddenElements.forEach((element) => {
      observer.observe(element);
    });
  </script>
</html>
