---
import OtherProjectItem from "../components/OtherProjectItem.astro";
import Projects from "./Projects.astro";
import otherProjects from "../../public/data/otherProjects";
---

<section>
  <div class="section-content hidden">
    <h2 class="title">Other Noteworthy Projects</h2>
    <div class="other-projects-container">
      {
        otherProjects.map((project) => (
          <OtherProjectItem
            title={project.title}
            description={project.description}
            techStack={project.techStack}
            githubLink={project.githubLink}
            liveLink={project.liveLink}
          />
        ))
      }
    </div>
    <a
      class="cta more-button"
      href="https://github.com/ridhokhalis99?tab=repositories"
      target="_blank">See more</a
    >
  </div>
</section>

<style lang="scss">
  section {
    margin-top: 120px;

    .section-content {
      text-align: center;

      .title {
        color: var(--lightest-slate);
        margin-bottom: 40px;
      }

      .other-projects-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 32px;
        gap: 32px;

        @media screen and (max-width: 1024px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 480px) {
          grid-template-columns: 1fr;
        }
      }

      .more-button {
        margin: 40px auto 0;
      }
    }
  }
</style>
