---
import ProjectItem from "../components/ProjectItem.astro";
import SectionHeader from "../components/SectionHeader.astro";
import projects from "../../public/data/projects";
import OtherProjects from "./OtherProjects.astro";
---

<section id="projects">
  <div class="section-content">
    <SectionHeader index={2} title="Some things i've built" />
    <div class="projects-container">
      {
        projects.map((project) => (
          <ProjectItem
            imageSrc={project.imageSrc}
            title={project.title}
            description={project.description}
            techStack={project.techStack}
            githubLink={project.githubLink}
            liveLink={project.liveLink}
          />
        ))
      }
    </div>
  </div>
</section>
<OtherProjects />

<style lang="scss" is:global>
  section {
    .section-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 64px;
      height: 100%;

      .projects-container {
        display: flex;
        flex-direction: column;
        gap: 92px;
        margin-top: 32px;

        .project {
          display: flex;
        }

        .project:nth-child(even) {
          flex-direction: row-reverse;

          @media (max-width: 768px) {
            flex-direction: row;
          }

          .project-content {
            align-items: flex-start;
            padding-left: 0;
            position: relative;
            left: 50px;

            @media (max-width: 768px) {
              left: 0;
              align-items: flex-start;
              z-index: 5;
              padding: 64px 32px;
            }

            .project-description {
              left: 0;
              text-align: left;
            }
          }
        }
      }
    }
  }
</style>
